################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Year 2/Operating Systems/Lab2/Lab2 CMake/out/build/x64-debug
/Year 2/Operating Systems/Lab2/Lab2 CMake/.vs/Lab2 CMake/v17
/.idea
/.vs
/Year 2/Operating Systems/Lab3/Lab3 CMake C++98/.vs
/Year 2/Operating Systems/Lab2/Lab2 CMake C++17/.vs
/Year 2/Operating Systems/Lab3/Lab3 CMake C++98/out/build/x64-debug
