################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Year 2/Operating Systems/Lab2/Lab2 CMake/out/build/x64-debug
/Year 2/Operating Systems/Lab2/Lab2 CMake/.vs/Lab2 CMake/v17
/.idea
/.vs
/Year 2/Operating Systems/Lab3/Lab3 CMake C++98/.vs
/Year 2/Operating Systems/Lab2/Lab2 CMake C++17/.vs
/Year 2/Operating Systems/Lab3/Lab3 CMake C++98/out/build/x64-debug
/Year 2/Operating Systems/Lab3/Lab3 CMake C++11/.vs
/Year 2/Operating Systems/Lab3/Lab3 CMake C++11/out/build/x64-debug
/Year 2/Operating Systems/Lab2/Lab2 CMake C++98/.vs
/Year 2/Operating Systems/Lab2/Lab2 CMake C++98/out/build/x64-debug
/Year 2/Operating Systems/Lab2/Lab2 CMake C++17/out/build/x64-debug
/Year 2/Operating Systems/Lab1/Lab1 CMake C++98/.vs
/Year 2/Operating Systems/Lab1/Lab1 CMake C++98/out/build/x64-debug
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/.vs
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/Creator/x64/Debug
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/Debug
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/EmployeeLib/x64
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/EmployeeTests/x64
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/Main/Debug
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/Main/x64
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/Reporter/x64/Debug
/Year 2/Operating Systems/Lab1/Lab1 MVS Project C++14/x64
/Year 2/Industrial Programming/Lab4/.idea
/Year 2/Industrial Programming/Lab4/out/production/Lab4
/Year 2/Industrial Programming/Lab4/Lab4.iml
/Year 2/Industrial Programming/Lab3/Lab3.iml
/Year 2/Industrial Programming/Lab1/Lab1.iml
/Year 2/Industrial Programming/Lab2/Lab2.iml
/Year 2/Industrial Programming/Lab5/.idea
/Year 2/Industrial Programming/Lab4 Individual/.idea
/out/production/Lab2
/Year 2/Operating Systems/Сolloquium1/.vs
/Year 2/Operating Systems/Сolloquium1/out/build/x64-debug
