# Web framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic

# Pydantic (v2)
pydantic

# Cache (Redis)
redis

# Background tasks / Queue
celery
kombu

# API Gateway features / middleware utils
python-jose[cryptography]
passlib[bcrypt]

# Metrics & monitoring
prometheus-client

# HTTP client (иногда нужен)
httpx

# Logging helpers
python-json-logger

python-multipart

# Tests
pytest
pytest-asyncio
httpx
faker
pytest-cov

# For passwords
bcrypt==4.1.2